body
{
    margin: 0;
    padding: auto;
    background-color: rgb(211, 205, 205);
}
#contenu
{
    max-width: 1200px;
    width: 80%;
    margin: auto;
    background-color: rgb(253, 246, 243);   
    padding: auto;
    height: 1840px;
}
#entete
{
    background-color: rgb(5, 5, 5);
    width: 100%;
    height: 70px;
    color: white;
}
#map
{
    position: relative;
    right: -10%;
    top: -140px;
}
#imgtel
{
    position: relative;
    right: -30%;
    top: 15px;
}
#ptel
{
    position: relative;
    right: -32.5%;
    top: -10px;
}
#imgcontact
{
    position: relative;
    right: -46.9%;
    top: -55px;
}
#pcontact
{
    position: relative;
    right: -50%;
    top: -80px;
}
#lanreser
{

    width: 5%;
    position: relative;
    top: 30%;
    right: -70%;

}
#langue
{
    position: relative;
    right: -68%;
    top: -145px;
    border:  none;
    background-color: black;
    color: #fff;
}
#boutonser
{
    position: relative;
    right: -230%;
    top: -169px;
    border:  none;
    background-color:blue;
    color: #fff;
    height: 27px;
    line-height: 2px;
}
#boutonser a
{
    text-decoration: none;
    color: #fff;
}
/***********Navigation*****************/

/*-----------------------Navigation-----------------------*/
nav
{
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 180px;
}
#logo
{
    width: 20%;
    position: relative;
    top: 10px;
}
ul
{
    list-style-type: none;
}
li
{
    display: inline-block;
    position: relative;
    right: -28%;
    top: -100px;


}
.border_right
{
    border-right: 1px solid rgb(207, 207, 207);
    line-height: 30px;
    text-align: center;
    padding: 2px;
    position: relative;
    top: -100px;
    left: 260px;
    top: -100px;

}
.border_right_last
{
    position: relative;
    left: 260px;
    top: -100px;
}
a
{
    text-decoration: none;
    color: black;
}

#navmenu a:hover
{
    color: #1B8D9A;
    border-bottom: 5px solid red;
    text-decoration: none;
}

.navmenue a:hover
{
    color: #1B8D9A;
    border-bottom: 5px solid red;
    text-decoration: none;
}

.navmenu a:active
{
    color:  #FAAA20;
    text-decoration: none;
}
/******Déscription des services********/

#textslider
{
    position: absolute;
    top: 49%;
    right:30%;
    transform: translate(-50%, -50%);
    background: none;
    text-align: center;
}
h1
{
    color: #F99F02;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 2px;
    position: relative;
   

}

#divp1
{
    position: relative;
    right: -33%;
    top: -205px;
    width: 46%;
}
#p1
{
    text-decoration: underline;
    font-style: oblique;
    color: #F99F02;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
.image1
{
    position: relative;
    top: 10px;
}
#divp2
{

    position: relative;
    top: -400px;
    right: -33%;
    width: 35%;
}
.image2
{
    position: relative;
    top: -190px;
}
#p2
{
    text-decoration: underline;
    font-style: oblique;
    color: #F99F02;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.image3
{
    position: relative;
    top: -290px;
}
#p3h
{
    text-decoration: underline;
    font-style: oblique;
    color: #F99F02;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    right: -50%;
    top: -550px;
}
.image4
{
    position: relative;
    top: -330px;
}
#divp4
{

    position: relative;
    top: -510px;
    right: -33%;
    width: 35%;
}
#p4
{
    text-decoration: underline;
    font-style: oblique;
    color: #F99F02;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#p5
{
    text-decoration: underline;
    font-style: oblique;
    color: #F99F02;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;    
}
#divp5
{

    position: relative;
    top: -510px;
    right: -35%;
    width: 35%;
}
#bouton
{
    border: none;
    background-color: red;
    text-align: center;
    width: 60%;
    position: relative;
    right: -240px;
    top: -380px;
}

#reserv
{
    background-color: red;
    border: none;
    height: 30px;
    width: 50%;
    position: relative;
    right: -25%;
    top: -45px;
}
#reserv a
{
    text-decoration: none;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#reserv
{
    animation: Test 1s infinite;
}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

/*------------------------------------FOOTEER-------------------------------------------*/
footer
{
    background-color:  #000;
    max-width: 1200px;
    width: 80%;
    margin: auto;

}
#divfoot
{


}
#rs
{
    position: relative;
    width: 16%;
    text-align: center;
    right: -5%;
    bottom: -95px;
    color: #fff

}
#NL
{
    color: #fff;
    position: relative;
    width: 36%;
    right: -30%;
    top: -10px;
    text-align: center;
    height: 90px;
}
#mail
{
    border: none;
    height: 25px;
}
#inscri
{
    background-color: red;
    border: none;
    height: 27px;
    position: relative;
    right: -2%;
}
#inscri a
{
    color: #fff;
}
#localisation
{

    width: 35%;
    color: #fff;
    position: relative;
    right: -65%;
    top: -122px;
    text-align: center;
}
#droit_auteur
{
    border-top: 1px solid rgb(173, 170, 170);
    position: relative;
    top: -60px;
    color: #fff;
    text-align: center;
}
#idcopyright
{
    position: relative;
    bottom: -19px;
} 